.container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    /* border: solid 1px red; */
}
.col{
    max-width: 300px;
    height: auto;
}
.movieImage{
    border-radius: 15px;
}
.movieDetails{
    font-size: 19px;
    color: white;
}
.firstP{
    margin-top: 0;
}
